
.profile {
    width : 750px;
}

.profile .section{
    width: 310px;
    height: 200px;
    font-size: x-large;
    font-weight: bold;
    padding: 30px;

    display: inline-block;
}

.white-background {
    /* background-color: aliceblue; */
    background-color: var(--profile-color-box);
    color: var(--profile-white-text);
}

.dark-background {
    background-color: var(--profile-white-box);
    /* color: aliceblue; */
    color: var(--profile-color-text);
}

.section.text-right{
    text-align: right;
}
.section.text-left{
    text-align: left;
}