.Todo {
    
    width: 600px;
}

.Todo-List-Contents {

    overflow: hidden;
    
}


.Todo_Item {
    width: 275px;
    
    display: inline-block;
    
}
.Todo_Item:hover {
    background-color:#199ae6 ;
    border: 1px solid #2477a8;
    
}


.Todo_Input {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 0 4px;
}

.Todo_Input input {
    flex: 1;
    outline: none;
    border: none;
    color: black;
    background-color: white;
    padding: 5px 2px;
    font-size: 1.2rem;

}
.Todo_Input input::placeholder {
    color: black;

}

.TodoInput-Button {
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
}