.Todo {
    /* background-color : RGB(0, 66, 0); */
    
}

.Todo-List-Title {
    margin-top: 5px;
    float: left;
    font-size: x-large;
    font-weight: bold;
    
}
.Todo-List-Contents {

    width: 100%;
    
}
.Todo-List-Management {

    width: 100%;
    height: 250px;
    overflow: auto;

    
}


.Todo_Item {
    width: 275px;
    
    display: inline-block;
    
}
.Todo_Item:hover {
    background-color:#199ae6 ;
    border: 1px solid #2477a8;
    
}


.Todo_Input {
    width: 100%;
    padding: 0 4px;
    white-space: nowrap;
    
}

.Todo_Input input {
    flex: 1;
    outline: none;
    border: none;
    color: black;
    background-color: white;
    padding: 5px 2px;
    font-size: 1.2rem;

    margin : 5px;

}
.TodoInput-Button {
    color: black;
    font-size: 1.4rem;
    cursor: pointer; 
}

