
.TOP-header {
    height: 30px;
  }

.SNB-header {
    
  position: absolute;
  background-color: white;
  min-height:calc(100vh - 112px);
  width: 325px;
  float: left;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;

  box-shadow : 2px 1px 4px -1px rgba(0,0,0,0.2)
}