.App {
  text-align: center;
}

.App-header {
  position: fixed;
  top:0px;
  width: 100%;

  z-index: 1000;
}
.App-contents {
  margin-top: 60px;
  background-color: white;
  /* top : 61px; */
  width: 80%;
  /* display: inline-block; */
  display: flex;
}


hr {
  border-color: ghostwhite;
}