.App {
  text-align: center;
}

.App-header {
}
.App-contents {
  background-color: white;
  /* top : 61px; */
  left: 326px;
  width: calc(100vw - 406px);
  margin-top: 5px;
  margin-left: 20px;
  /* display: inline-block; */
  position: absolute;
  
}